body {
  background-color:#eee;
}
html {
    min-width:620px;
}
.post {
    display:block;
    margin: 20px 40px;
    padding: 10px 20px;
    background: #fff;
    max-width:1000px;
}
.post h1 {
  font-size:40px;
  margin-bottom: 5px;
}
.post h2 {
  font-size:20px;
  color:#888;
}
.post h1 span {
  font-size:20px;
}
.post .post-options * {
  display:inline-block;
}
.post .post-options {
  font-size:20px;
  width:100%;
  margin-bottom:5px;
}
.post .upvote {
  background: #eee;
  color:#ef9632;
  text-align:center;
}
.post .upvote:hover, .post .downvote:hover {
    background: #ddd;
}
.post .downvote {
  background: #eee;
  color:#7171ed;
  text-align:center;
}
.upvoted { /* already upvoted posts. replaces the .upvote class. */
    color: #eee;
  background:#ef9632;
  text-align:center;
}
.upvoted:hover {
    color: #eee;
  background:#ed8712;
  text-align:center;
}
.post .downvoted {
  color: #eee;
  background:#7171ed;
  text-align:center;
}
.post .downvoted:hover {
  color: #eee;
  background:#5959e5;
  text-align:center;
}

.post .votecheck {
  background: #eee;
  color:#41e03e;
  text-align:center;
}
.post .votecheck:hover, .post .votex:hover {
    background: #ddd;
}
.post .votex {
  background: #eee;
  color:#e03c2a;
  text-align:center;
}
.votechecked {
    color: #eee;
  background:#41e03e;
  text-align:center;
}
.votechecked:hover {
  background:#1fc91c;
}
.post .votexed {
  color: #eee;
  background:#e03c2a;
  text-align:center;
}
.post .votexed:hover {
  background:#cc2c1a;
}
.date {
  text-align: right;
  color:#666;
}
.post .vote {
  text-align:left;
}
.post .comments {
  text-align: center;
}
.post .report {
  text-align:right;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.verifycheck {
    background-color:#2fc5fc;
  display:inline-block;
  text-align:center;
  color:white;
  font-size:15px;
  padding:3px;
}
h1 .verifycheck {
    font-size:20px;
  transform:translate(0px,-5px);
}
.circle {
    border-radius:50%;
}
.read-more {
    margin-top:-10px;
  margin-bottom:10px;

}
.title {
  margin:30px;
}
.comments {
  margin-left:15px;
}
.suggestion-box {
  margin:15px;
  background-color:#bfbfbf;
}
.spacing {
  margin:15px;
}